---
import BaseLayout from '../layouts/baseLayout.astro';

const pageTitle = "About Aweb7"

const identity = {
  firstName: "AlseCawx01",
  country: "Mars",
  occupation: "Developer",
  hobbies: ["Reading", "Learning", "Running"]
}

const skills = ["Html", "Css", "Js", "Astro"]

const happy = true
const finished = false
const goal = 3

const skillColor = "navy"
const fontWeight = "bold"
const textCase = "uppercase"
---

    <BaseLayout pageTitle={pageTitle}>
    <h2>Aweb7xCAW</h2>
    <p>WE BELIEVE IN DECENTRALIZATION</p>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}</li>
      <li>I live in {identity.country}</li>
      <li>and i work as a {identity.occupation}</li>
      {identity.hobbies.length >= 2 &&
        <li>Two of my hobbies are {identity.hobbies[0]} and {identity.hobbies[2]}</li>
      }
    </ul>

    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skills">{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning</p>}
    {finished && <p>I finished this tutorial</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days</p> : <p>My goal is not 3 days</p>}
    <script>
      import "../scripts/menu.js"
    </script>
    </BaseLayout>


    <style define:vars={{skillColor, fontWeight, textCase}}>
       {
        color: purple;
        font-size: 4rem;
      }

      .skills{
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }


    </style>