---
const pageTitle = "About Aweb7"

const identity = {
  firstName: "AlseCawx01",
  country: "Mars",
  occupation: "Developer",
  hobbies: ["Reading", "Learning", "Running"]
}

const skills = ["HTML", "CSS", "JS", "ASTRO"]

const happy = true
const finished = false
const goal = 3
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/aweb.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>{pageTitle}</h1>
    <h2>Aweb7xCAW</h2>
    <p>WE BELIEVE IN DECENTRALIZATION</p>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}</li>
      <li>I live in {identity.country}</li>
      <li>and i work as a {identity.occupation}</li>
      {identity.hobbies.length >= 2 &&
        <li>Two of my hobbies are {identity.hobbies[0]} and {identity.hobbies[2]}</li>
      }
    </ul>

    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning</p>}
    {finished && <p>I finished this tutorial</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days</p> : <p>My goal is not 3 days</p>}
  </body>
</html>